<!doctype html>
<html>
  <head>
    {% include 'head-defaults.html' %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  </head>
<body>
{% include 'navbar.html' %}
<div id="firebaseui-auth-container"></div>

</body>


</html>
