<!DOCTYPE html>
<html>
  <head>
    {% include 'head-defaults.html' %}
    <script defer src="static/submit.js"></script>
    <link href="static/submit.css" rel="stylesheet">
  </head>
  <body>
    <div id="topgrid">
        {% include 'navbar.html' %}
        <div id="submit-div">
          <label for="inputfile" class="form-label">Input file</label>
          <input type="file" id="inputfile" class="form-control mb-3">
          <div class="input-group mb-3">
            <span class="input-group-text">Genome</span>
            <select id="genome" class="form-select">
              <option value="hg38">hg38</option>
              <option value="hg19">hg19</option>
            </select>
          </div>
          <label class="form-label">Annotators</label>
          <div id="annotators"></div>
          <button id="submit" disabled class="btn btn-outline-success mt-3">Submit</button>
        </div>
        <div id="jobs-div">
          <table id="jobstable" class="table table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Output</th>
                <th>Input</th>
                <th>Annotators</th>
                <th>Genome</th>
                <th>ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
    </div>
    <div id="download-popover" class="card">
      <div class="card-body">
        <div class="card-title">Result Files</div>
        <div class="card-text">
          <div style="margin:0.25em;"><button class="btn btn-link" id="database-download">Database</button></div>
          <div style="margin:0.25em;"><button class="btn btn-link" id="csv-download">CSV</button></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
