@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
}

#topgrid {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'nav nav nav'
    'image-div status-div user-div';
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#nav {
  grid-area: nav;
}

#image-div {
  grid-area: image-div;
  padding-left: 10px;
}

#status-div {
  grid-area: status-div;
  padding-left: 10px;
}
#user-div {
  grid-area: user-div;
  padding-right: 10px;
}
#anno-info {
  display: flex;
  flex-direction: column;
}
#tablewrap {
  height: 70vh;
  overflow-y: scroll;
}
